
{% extends "layout1.html" %}

{% block abc %}

<div class="container my-3">
    <h2>Reservations</h2>

    {% if reservations.items|length==0 %}
    <div class="alert alert-dark" role="alert">
        No Records Found! Add Records.
    </div>
    {% else %}
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>User</th>
                <th>Email</th>
                <th>Package ID</th>
                <th>Flight ID</th>
                <th>Hotel ID</th>
                <th>Total Price</th>
                <th>Status</th>

            </tr>
        </thead>
        <tbody>

            {% for reservation in reservations.items %}
            <tr>
                <td>{{ loop.index + (reservations.page-1) * reservations.per_page }}</td>
                <td>{{ reservation.user.username }}</td>
                <td>{{ reservation.user.email }}</td>
                <td>{% if reservation.package_deal and
                    reservation.package_deal.package_id %}
                    {{ reservation.package_deal.package_id }}
                    {% else %}
                    none
                    {% endif %}
                </td>

                <td>
                    {% if reservation.flight and
                    reservation.flight.service_id %}
                    {{ reservation.flight.service_id }}
                    {% else %}
                    none
                    {% endif %}
                </td>
                <td>
                    {% if reservation.hotel and
                    reservation.hotel.service_id %}
                    {{ reservation.hotel.service_id }}
                    {% else %}
                    none
                    {% endif %}
                </td>
                <td>
                    {% if reservation.package_deal %}
                    {{ reservation.package_deal.get_total_price() }}$
                    {% elif reservation.flight %}
                    {{ reservation.flight.calculate_cost() }}$
                    {% elif reservation.hotel %}
                    {{ reservation.hotel.calculate_cost() }}$
                    {% else %}
                    none
                    {% endif %}
                </td>
                <td>
                    {{ reservation.status }}
                </td>

            </tr>
            {% endfor %}
        </tbody>

    </table>
    <!-- Pagination controls -->
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if reservations.has_prev %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('show_reservation', page=reservations.prev_num) }}">
                        <i class="fas fa-arrow-left"></i>
                    </a>
                </li>
            {% endif %}

            {% for page_num in reservations.iter_pages() %}
                {% if page_num %}
                    {% if reservations.page == page_num %}
                        <li class="page-item active"><a class="page-link">{{ page_num }}</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="{{ url_for('show_reservation', page=page_num) }}">{{ page_num }}</a></li>
                    {% endif %}
                {% else %}
                    <li class="page-item disabled"><span class="page-link">...</span></li>
                {% endif %}
            {% endfor %}

            {% if reservations.has_next %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('show_reservation', page=reservations.next_num) }}">
                        <i class="fas fa-arrow-right"></i>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}

</div>

{% endblock abc %}
