
{% extends "layout1.html" %}

{% block abc %}

<div class="container my-3">
    <h2>Users</h2>

    {% if users|length==0 %}
    <div class="alert alert-dark" role="alert">
        No User Found!.
    </div>
    {% else %}
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
                

            </tr>
        </thead>
        <tbody>

            {% for user in users %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                

            </tr>
            {% endfor %}
        </tbody>

    </table>
    {% endif %}

</div>

{% endblock abc %}
