{% extends "layout.html" %}

{% block abc %}

<div class="container my-3">
    <h2>Hotels</h2>
    <div class="mb-3 text-end">
        <form method="get" action="{{ url_for('all_hotels') }}"
            class="d-inline">
            <input type="text" name="search" placeholder="Search flights..."
                value="{{ search_query }}" class="form-control d-inline"
                style="width: auto; display: inline-block;">
            <button type="submit" class="btn btn-dark btn-sm">Search</button>
        </form>
    </div>

    {% if hotel.items|length==0 %}
    <div class="alert alert-dark" role="alert">
        No Todos Found! Add Records.
    </div>
    {% else %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">No.</th>
                <th scope="col">Service ID</th>
                <th scope="col">Name</th>
                <th scope="col">Location</th>
                <th scope="col">Price</th>
                <th scope="col">Availability</th>
                <th scope="col"> Reservation </th>

            </tr>
        </thead>
        <tbody>

            {% for i in hotel.items %}
            <tr>
                <th scope="row">{{loop.index + (hotel.page-1) *
                    hotel.per_page}}</th>
                <td>{{i.service_id}}</td>
                <td>{{i.name}}</td>
                <td>{{i.location}}</td>
                <td>{{ i.price }}$</td>

                <td>{{ 'Available' if i.availability else 'Not Available'
                    }}</td>

                <td>
                    {% if i.availability %}

                    <form action="{{ url_for('book') }}" method="post">
                        <input type="hidden" name="user_id"
                            value="{{ user_id }}">
                        <input type="hidden" name="hotel_id" value="{{ i.id }}">
                        <button type="submit"
                            class="btn btn-dark btn-sm">Reserve Hotel</button>
                    </form>
                    {% endif %}
                </td>

            </tr>
            {% endfor %}
        </tbody>

    </table>
    <!-- Pagination Logic -->
    {% if hotel.total > hotel.per_page %}
    <nav aria-label="Page navigation">
        <div class="d-flex justify-content-center">
            <ul class="pagination">
                {% if hotel.has_prev %}
                <li class="page-item">
                    <a class="page-link"
                        href="{{ url_for('all_hotels', page=hotel.prev_num, search=search_query) }}">
                        <i class="fas fa-arrow-left"></i>
                        <!-- Font Awesome left arrow icon -->
                    </a>
                </li>
                {% endif %}

                {% for page_num in hotel.iter_pages(left_edge=1, right_edge=2,
                left_current=1, right_current=2) %}
                {% if page_num %}
                {% if hotel.page == page_num %}
                <li class="page-item active">
                    <a class="page-link" href="#">{{ page_num }}</a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link"
                        href="{{ url_for('all_hotels', page=page_num, search=search_query) }}">{{
                        page_num }}</a>
                </li>
                {% endif %}
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">...</a>
                </li>
                {% endif %}
                {% endfor %}

                {% if hotel.has_next %}
                <li class="page-item">
                    <a class="page-link"
                        href="{{ url_for('all_hotels', page=hotel.next_num, search=search_query) }}">
                        <i class="fas fa-arrow-right"></i>
                        <!-- Font Awesome right arrow icon -->
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    {% endif %}

    {% endif %}

</div>

{% endblock abc %}