{% extends 'layout.html' %}
{% block abc %}

<div class="container mt-5">
    <h1 class="text-center">Travel Reservations</h1>
    <div class="row mt-4">
        <div class="col-md-4 mb-4">
            <a href="/all_flights" class="card text-decoration-none">
                <div class="card-body text-center">
                    <h5 class="card-title">Flights</h5>
                    <p class="card-text">View and reserve available flights.</p>
                </div>
            </a>
        </div>
        <div class="col-md-4 mb-4">
            <a href="/all_hotels" class="card text-decoration-none">
                <div class="card-body text-center">
                    <h5 class="card-title">Hotels</h5>
                    <p class="card-text">View and reserve available hotels.</p>
                </div>
            </a>
        </div>
        <div class="col-md-4 mb-4">
            <a href="/all_packages" class="card text-decoration-none">
                <div class="card-body text-center">
                    <h5 class="card-title">Packages</h5>
                    <p class="card-text">View and reserve available
                        packages.</p>
                </div>
            </a>
        </div>
    </div>
</div>

{% endblock abc %}